.navbar{
    height: 60px;
    
}


.wrapper{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    flex: 1;
}

.language{
    cursor: pointer;
}
.searchContainer{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    margin-left: 10px;
}

input{
    outline: none;  
    border: none;
}

.center{
    flex: 1;
    
}

h1{
    text-align: center;
}

.right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menuItem{
  margin-left: 25px;
  cursor: pointer;

}

.menuItem:hover{
    border-bottom: 1px solid;
}